<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{authentication/fragments/layout}">
<head>
    <title>Admin Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div align="center">
        <h1>Admin Page</h1>
        <hr>
        <h3>Customer List</h3>
        <br/><a th:href="@{/bikes}">Rental Bicycles</a><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email Address</th>
                <th>Age</th>
                <th>Rental Bike</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="customer : ${customerList}">
                <td th:text="${customer.username}">Username</td>
                <td th:text="${customer.userMeta.givenName} + ' ' + ${customer.userMeta.surname}">
                    Full Name
                </td>
                <td th:text="${customer.userMeta.email}">Email Address</td>
                <td th:text="${customer.userMeta.age}">Age</td>
                <td th:text="${customer.bike}">Rental Bike</td>
                <td><!--<a th:href="@{'/edit/' + ${customer.id}}">Edit</a>,
                    <a th:href="@{'/delete/' + ${customer.id}}">Delete</a>,
                    <a th:text="${(customer.bike == null) ? 'Delete' : ''}"
                       th:href="@{'/bikes/delete/' + ${customer.id}}">
                    </a> -->
                    <a th:text="${(customer.bike == null) ? 'Assign Rental Bike' : ''}"
                       th:href="@{'/bikes/assign/' + ${customer.id}}">
                    </a>
                    <!--<a th:text="${(customer.bike != null) ? 'Delete' : ''}"
                       th:onclick="warning()">
                    </a> -->
                    <a th:text="${(customer.bike != null) ? 'Remove Rental Bike' : ''}"
                       th:href="${(customer.bike != null) ? '/unassign/' + customer.bike.getId() : ''}">
                    </a>
                </td> -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>